---
layout: default
permalink: "/index"
title: Home
titlebar: false
add-to-menu: false
ft-image: 
widgets: false
fullWidth: false
short-desc: Jong grafisch ontwerper met grote dromen en een passie voor vormgeving
widgets-bottom: false

---
<section class="section-ignore container d-flex align-items-center" data-label="homeHero">
    <div class="my-5">
        <!-- <h2 class="fontw-500">Jong grafisch geweld,<br class="d-none d-md-block"> Grote dromen, en passie<br class="d-none d-md-block"> voor design & code</h2> -->
        <!-- <h2 class="fontw-400" data-label="wordReplacer">Hi, ik ben Lennert,<br>ik ben <span></span></h2> -->
        <h2 class="fontw-400" data-label="wordReplacer">Hi, ik ben Lennert,<br>ik <span></span></h2>
        <a href="{{ '/over' | url }}" class="text-modern">Ontdek meer</a>
    </div>
</section>
<section id="projects">
    <div class="container d-none">
        <div class="d-flex align-items-center ml-auto w-fit">
            <p class="text-modern mb-0 small mr-3">
                scroll door<br>mijn projecten
            </p>
            <i data-feather="arrow-right"></i>
        </div>
    </div>
    <div class="container-xl" data-label="portfolioCards" data-sesam-target="portfolioCards">
        <div class="salvatore" data-columns>
            {% assign sortedProjects = (site.projects | sort: 'date') | reverse %}
            {% for project in sortedProjects %}
            <a class="card item" href="{{ project.url | replace: '.html', '' }}">
                <img class="card-background" src="{{ project.ft-img | replace: 'https://res.cloudinary.com/lennertderyck/image/upload', 'https://res.cloudinary.com/lennertderyck/image/upload/w_640' }}" alt="">
                <div class="card-body">
                    <h4 class="mb-1">{{ project.title }}</h4>
                    <p class="mb-0 text-modern md">{{ project.tags | first }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- hide when bottom is reached, show when scrolled up -> fade in/out so add class -->
    <div class="flex-column align-items-center justify-content-center w-100" data-label="portfolioNavigator">
        <a class="text-center" href="#more">
            <p class="text-modern mb-2 mt-5">
                scroll voor meer projecten
            </p>
            <p class="text-modern mb-0 small">of klik en ga verder</p>
            <i data-feather="arrow-down"></i>
        </a>
    </div>
    
</section>
<section id="more" class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
            {% include widget-text.html title="Wat ik doe" subTitle="Diensten" content="Tegenwoordig hou ik me vooral bezig met webdesign, maar ook drukwerk blijft een passie!" btnTitle="Ontdek wat ik doe" btnUrl="/wat-ik-doe" %}
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
            {% include widget-text.html title="Over mij" subTitle="Bio" content="Een student die zich een weg baant door de grafische wereld." btnTitle="Kom meer te weten" btnUrl="/over" %}
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
            {% include widget-text.html title="Praktisch" subTitle="Meer info" content="Je zou graag met mij in zee gaan? Fantastisch! Dan vind je hier alle info die je nodig hebt." btnTitle="Meer lezen" btnUrl="/samenwerken" %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-color-6">
                <h2 class="mb-1">Geïnteresseerd?</h2>
                <p class="widget-text-subtitle text-modern md mb-2">Laat iets achter na de piep</p>
            </div>
            <div class="col-12 col-md-8">
                <div class="form-group mb-4">
                    <label for="homeFormName">naam</label>
                    <input type="text" class="form-control" id="homeFormName">
                </div>
                <div class="form-group mb-4">
                    <label for="homeFormEmail">email</label>
                    <input type="email" class="form-control" id="homeFormEmail">
                </div>
                <div class="form-group form-control-textarea">
                    <label for="homeFormMessage">bericht</label>
                    <textarea class="form-control" id="homeFormMessage" rows="2"></textarea>
                </div>
                <a class="btn" href="#">verzenden</a>
            </div>
        </div>
    </div>
</section>
