<div class="crumbs">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    
    {% if title %}
        {% if title == 'Home' or title == 'Home' %}
            <span class="crumble__main">Home</span>
        {% else %}
            <a href="/" class="crumble__main">Home</a> — <span class="crumble__main">{{ title }}</span>{% if crumbs[2] == ' ' %}<span class="crumble__sub"> - {{ crumbs[2] }}</span>{% endif %}
        {% endif %}
    {% else %}
        <a href="/" class="crumble__main">Home</a> — </span><a href="/work" class="crumble__main">Work</a>
    {% endif %}
    
</div>