<div class="section py-5 section--border-t animate__animated animate__fadeInUp animate__fast" style="animation-delay: .4s;">
    <div class="container text-center py-5">
        <h6 class="color--grey">Do you like my work?</h6>
        <h2 class="font--sub font-weight--600">Let's work together!</h2>
        <a href="{{ '/contact' | url }}" class="btn color--gold btn--outline mx-auto mt-4">Get in touch</a>
    </div>
</div>