*,
*:hover,
*:active {
    transition: all 0.4s ease;
}

body {
    font-family: $fontMain;
    scroll-snap-type: y mandatory;

    &.filter--inverted {
        background-color: $colorDark;
    }
}

// body,
// main,
// #app {
//     height: 100vh;
//     overflow-y: scroll;
//     scroll-snap-type: y proximity;
// }

main {
    &.navbar--compensate,
    .navbar--compensate {
        padding-bottom: var(--navbar-height);
    }

    p {
        line-height: 1.8rem;

        a {
            text-decoration: underline;
        }
    }

    img {
        max-width: 100%;
        object-fit: cover;
        pointer-events: none;
        user-select: none;
        -webkit-user-drag: none;
    }

    .section {
        position: relative;
    }

    .section--bg {
        position: absolute;
        left: 50vw;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height: 100vh;
    }

    .section--padding {
        padding: 7rem 0;
    }

    .section--sticky {
        scroll-snap-align: start;
    }

    .section--full {
        height: 100vh;
    }

    .section--border {
        // border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }
    
    .section--border-t {
        // border-top: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
    }

    .section--dark {
        background-color: $colorDark;

        * {
            color: white;
        }

        p {
            color: lightgray;
            font-weight: 300;
        }
    }

    .section--light {
        background: $colorGrey200;

        * {
            color: $colorDark;
        }
    }
}

a {
    color: $colorDark;
    color: unset;
    text-decoration-color: currentColor;

    &:hover {
        color: unset;
        opacity: 0.6;
    }
}

.color--white a {
    color: $colorDark;

    &:hover {
        color: $colorDark;
    }
}

a.color--white {
    color: white;

    &:hover {
        color: white;
    }
}

[data-label='scrollProgress'] {
    --progress: 0%;
    --h: 100px;

    position: fixed;
    top: 50%;
    right: 30px;
    width: 2px;
    height: var(--h);
    background-color: #98989e4d;
    transform: translateY(-50%);
    z-index: 800;

    .progress__percentage {
        width: 100%;
        height: var(--progress);
        background-color: $colorGold;
    }
}

[data-label='contentBody'] {
    *:not(h1, h2, h3, h4, h5, h6) {
        font-family: $fontSub;
    }

    > h1,
    > h2,
    > h3 {
        font-weight: 600;
        margin-top: 5rem;

        &:first-child {
            margin-top: 0rem;
        }
    }

    h4,
    h5 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        line-height: 2rem;

        &:first-child {
            margin-top: 0rem;
        }
    }

    p,
    span {
        color: grey;
        font-weight: 300;
    }

    strong {
        color: grey;
    }

    :not(pre) > code[class*='language-'],
    pre[class*='language-'] {
        background: $colorDark;
        background: #d3d3d340;
        border: none;
        border-radius: 0px;
    }

    blockquote {
        margin: 2rem 0;
        padding: 0.8rem 1rem;
        border-left: 2px solid #af9351;
        background-color: #af935124;

        *:last-child {
            margin-bottom: 0;
        }
    }
    
    ul {
        --spacing: 10px;
        list-style-position: outside;
        list-style-type: '-';
        padding-left: var(--spacing);
        font-weight: 300;
        color: gray;
        
        li {padding-left: var(--spacing);}
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}