<div data-label="footerWidgets" class="mt-5 d-none">
    <div class="container container-xl">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                {% include widget-text.html title="Wat ik doe" subTitle="Diensten" content="Tegenwoordig hou ik me vooral bezig met webdesign, maar ook drukwerk blijft een passie!" btnTitle="Ontdek wat ik doe" btnUrl="#" %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                {% include widget-text.html title="Over mij" subTitle="Bio" content="Een jong grafisch designer die zich een weg baant door de grafische wereld." btnTitle="Kom meer te weten" btnUrl="#" %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                {% include widget-text.html title="Praktisch" subTitle="Meer info" content="Je zou graag met mij in zee gaan? Fantastisch! Dan vind je hier alle info die je nodig hebt." btnTitle="Meer lezen" btnUrl="#" %}
            </div>
        </div>
    </div>
</div>
<footer class="mt-5">
    {% include logo-simple.html height="40px" class="d-block mx-auto mb-4" %}
    <div class="wrapper py-3">
        <div class="container container-xl">
            <h4 class="mb-1 fontw-300 text-center">#THINKBEYONDTHEBOX</h4>
            <p class="text-modern xsm mb-0 text-center">© 2020 Lennert De Ryck &nbsp;・&nbsp;Alle rechten voorbehouden &nbsp;⎥ &nbsp;<a href="/privacy">Privacy</a> &nbsp;・&nbsp; <a href="/admin" class="txt-color-3" target="_blank" rel="noopener">Admin</a></p>
        </div>
    </div>
</footer>