<div id="menuMain" class="pt-lg-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-5">
                <nav>
                    <ul>
                        <li><h3 class="text-color-6 mb-3 fontw-400">Wat ik doe</h3></li>
                        <li><h3 class="text-color-6 mb-3 fontw-400">Over mij</h3></li>
                        <li><h3 class="text-color-6 mb-3 fontw-400">Social</h3></li>
                        <li><h3 class="text-color-6 fontw-400">Contact</h3></li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    <div class="row mb-3 pb-3">
                        <div class="col">
                            <p class="text-modern text-md-right md text-color-3">volg mij</p>
                            <div class="w-fit ml-md-auto">
                                <img class="mr-3" src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_FACEBOOK_msbslu.svg" alt="">
                                <img class="mr-3" src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_MESSENGER_mcfh2f.svg" alt="">
                                <img class="mr-3" src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_PINTREST_yoaqzy.svg" alt="">
                                <img class="mr-3" src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_UNSPLASH_egfbb9.svg" alt="">
                                <img src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_SPOTIFY_ti5b07.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-modern text-md-right md text-color-3">bestanden</p>
                            <div class="d-flex flex-row w-fit ml-md-auto">
                                <a href="#" class="btn mr-3">code invoeren</a>
                                <a href="#" class="btn">bekijken</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- {% for page in site.pages %}
    {% if page.add-to-menu == true %}
        <li>{{ page.title }}</li>
    {% endif %}
{% endfor %} -->