<div id="menuMain" class="lvl-9 d-flex flex-column">
    {% include menu-toggle.html text="sluiten" %}
    <nav class="mb-auto">
        <ul>
            <li>
                <a href="{{ "/wat-ik-doe" | relative_url }}">
                    <h3 class="text-left mb-3 fontw-400">Wat ik doe</h3>
                </a>
            </li>
            <li>
                <a href="{{ "/over" | relative_url }}">
                    <h3 class="text-left mb-3 fontw-400">Over mij</h3>
                </a>
            </li>
            <li>
                <a href="{{ "/social" | relative_url }}">
                    <h3 class="text-left mb-3 fontw-400">Social</h3>
                </a>
            </li>
            <li>
                <a href="{{ "/contact-beta" | relative_url }}">
                    <h3 class="text-left fontw-400">Contact</h3>
                </a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col">
            <p class="text-modern text-left small text-color-3">volg mij</p>
            <div class="w-fit mr-auto" data-label="socialIcons">
                <a target="_blank" rel="noopener"
                    href="https://www.linkedin.com/in/lenndertderyck/">
                    <img class="mr-3"
                        src="https://res.cloudinary.com/lennertderyck/image/upload/v1582830610/LOGO_LINKEDIN_gw9qtp.svg"
                        alt="">
                </a>
                <a target="_blank" rel="noopener"
                    href="https://www.facebook.com/lennertderyck.grafischontwerp/">
                    <img class="mr-3"
                        src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_FACEBOOK_msbslu.svg"
                        alt="">
                </a>
                <a target="_blank" rel="noopener"
                    href="https://www.messenger.com/t/1997323257173637">
                    <img class="mr-3"
                        src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_MESSENGER_mcfh2f.svg"
                        alt="">
                </a>
                <a target="_blank" rel="noopener" href="https://nl.pinterest.com/lennertderyck/">
                    <img class="mr-3"
                        src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_PINTREST_yoaqzy.svg"
                        alt="">
                </a>
                <a target="_blank" rel="noopener" href="https://unsplash.com/@lennertderyck">
                    <img class="mr-3"
                        src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_UNSPLASH_egfbb9.svg"
                        alt="">
                </a>
                <a target="_blank" rel="noopener"
                    href="https://open.spotify.com/user/twoledery?si=Ts0RauVJRCSMd8cWl0tGjQ">
                    <img src="https://res.cloudinary.com/lennertderyck/image/upload/v1581451871/LOGO_SPOTIFY_ti5b07.svg"
                        alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="row d-none">
        <div class="col">
            <p class="text-modern text-md-right md text-color-3">bestanden</p>
            <div class="d-flex flex-column w-fit ml-md-auto">
                <a href="#" class="btn ml-auto mb-2">bekijken</a>
                <a href="#" class="btn ml-auto">code invoeren</a>
            </div>
        </div>
    </div>
</div>

<!-- {% for page in site.pages %}
    {% if page.add-to-menu == true %}
        <li>{{ page.title }}</li>
    {% endif %}
{% endfor %} -->