$fontMain: 'Oswald', sans-serif;
$fontScnd: 'Overpass', sans-serif;
$fontmono: 'Overpass Mono', monospace;

$accent1: #F1F2F3;
$accent2: #D0D0D0;
$accent3: #9D9D9D;
$accent4: #707070;
$accent5: #6C6C6C;
$accent6: #4A4A4A;
$accentMain: hsl(185, 100%, 22%);
$accentLight: hsl(185, 99%, 32%);
$accentMainLight: #01706946;
$accentMainXLight: #0170691f;


:root {
    --font-main: 'Oswald', sans-serif;
    --font-scnd: 'Overpass', sans-serif;
    --font-mono: 'Overpass Mono', monospace;

    --accent-1: #F1F2F3;
    --accent-2: #D0D0D0;
    --accent-3: #9D9D9D;
    --accent-4: #707070;
    --accent-5: #6C6C6C;
    --accent-6: #4A4A4A;
    --accent-main: #006771;
}

* {
    scroll-behavior: smooth !important;
}

svg.feather {
    width: 15px;
    stroke-width: 2.7;
}

header {
    position: relative;
    z-index: 1000;
    // background-color: white;
}

[data-label="burgerMenu"] {
    display: flex;
    cursor: pointer;
    z-index: 1000;

    .burger-bun {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 22px;

        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: $accent6;
        
            &.top {margin-bottom: 5px;}
            &.bottom {width: 65%;}
        }
    }

    .burger-label {
        transform: translateY(1px);
        display: none;
        margin-left: 0;
    }
}

main {
    min-height: calc(100vh - 77px);
    // min-height: calc(100vh - 77px - 250px);
    
    .page-title {
        color: $accent6;
        font-size: 34Px;
    }
    
    .page-subtitle {
        color: $accent6;
    }
}

section:not(.section-ignore) {
    margin-bottom: 78px;
}

footer {
    margin-top: 120px;
    
    > .wrapper {
        background-color: $accent1;
    }
    
    svg[data-label="logoSimple"] {
        fill: $accent3;
        // fill: $accent2;
    }
    
    *, h4 {
        color: $accent3;
    }
}

[data-label="cookie"] {
    width: 40px;
    // background-color: burlywood;
    position: fixed;
    border-radius: 100%;
    transition: all .3s ease;
    z-index: 1000;
}

[data-label="cookieWall"] {
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 999;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {  
    section:not(.section-ignore) {
        margin-bottom: 145px;
    }
      
    [data-label="burgerMenu"] {        
        .burger-label {
            display: block;
            margin-left: 15px;
        }
    }
}

@media (min-width: 992px) {
    section:not(.section-ignore) {
        margin-bottom: 180px;
    }
}

@media (min-width: 1200px) {}
