$menu-main-w: 700px;
#menuMain {
    --header-h: 148px;
    --menu-main-w: 700px;
    z-index: 1000;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100vw;;
    height: 100vh;
    padding: 85px;
    padding-top: var(--header-h);
    background-color: $accent1;
    transition: all .4s ease;

    > .wrapper {
        --m: 30px;
        box-shadow: 0 6px 25px 3px rgba(0, 0, 0, 0.164);
        width: 100vw;
        height: 100%;
        margin-left: auto;
        // padding-top: var(--header-h);
        border-radius: 13px;
    }
    
    
    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        
        &:hover {
            
            h3 {
                color: $accent4;
            }
        }
        
        h3 {
            // font-family: $fontScnd;
            // font-weight: 500;
            font-size: 3rem;
            transition: all .5s ease;
            color: $accent6;
            
            &:hover {
                transform: translateX(7px);
                color: $accent6;
            }
        }
    }
    
    [data-label="socialIcons"] {
        a > img {
            object-fit: fill;
            height: 22px;
            width: 22px;
        }
    }
    
    [data-label="burgerMenu"] {
        position: absolute;
        top: 80px;
    }
}

* {
    transition: all .4s ease;
}

body {
    transition: all .4s ease;
    
    &.sesam.sesam-hidden {
        #menuMain {
            transform: translateX($menu-main-w);
        }
    }

    &.sesam.sesam-show {
        overflow: hidden;
        
        #menuMain {
            transform: translateX(0px);
        }

        #page {
            filter: blur(5px);
        }
        
        [data-label="burgerMenu"] {
            // transform: translateX(-720px) rotate(90deg);
        }
        
        /* [data-label="portfolioCards"] {
            position: fixed;
            left: 0px;
            right: unset;
            width: 100vw;
            transition: all .2s ease;

            .card {
                transition: inherit;

                .card-body {
                    justify-content: flex-start;
                    background: transparent linear-gradient(328deg, #00000000 50%, #000000e0 100%) 64% 760% no-repeat padding-box;
                    transition: inherit;
                }
            }
        } */
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    #menuMain {
        width: $menu-main-w;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}