@for $i from 0 through 10 {
    .lvl-#{$i} {
      z-index: $i*100 !important;
    }
}

@for $i from 1 through 9 {
    .fontw-#{$i}00 {
      font-weight: $i*100 !important;
    }
}

.container {
    padding-right: 35px;
    padding-left: 35px;
}

.w-fit {
    width: fit-content;
}

.object-fit {
  object-fit: cover;
}

.bd-radius-6 {
  border-radius: 6px !important;
}
.bd-radius-15 {
  border-radius: 15px !important;
}

.text-color-1 {color: $accent1 !important;}
.text-color-2 {color: $accent2 !important;}
.text-color-3 {color: $accent3 !important;}
.text-color-4 {color: $accent4 !important;}
.text-color-5 {color: $accent5 !important;}
.text-color-6 {color: $accent6 !important;}
.text-color-main {color: $accentMain !important;}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1060px;

    &.container-xl {
      max-width: 1300px;
    }
  }
}