$fontMain: 'Oswald', sans-serif;
$fontScnd: 'Overpass', sans-serif;
$fontmono: 'Overpass Mono', monospace;

$accent1: #F1F2F3;
$accent2: #D0D0D0;
$accent3: #9D9D9D;
$accent4: #707070;
$accent5: #6C6C6C;
$accent6: #4A4A4A;
$accentMain: #006770;
$accentLight: #0195a2;
$accentMainLight: #01706946;
$accentMainXLight: #0170691f;