---
layout: default
permalink: "/{{ page.filePathStem | remove: '_pages' | replace: ' ', '-' }}/index.html"
---
<div class="bg--outline navbar--compensate">
    <div class="section section--padding">
        <div class="container container--sm animate__animated animate__fadeInUp animate__fast">
            <h6 class="color--grey">{{ subTitle }}</h6>
            <h1 class="font-weight--600">{{ title }}</h1>
        </div>   
    </div>
    <div class="section animate__animated animate__fadeInUp" style="animation-delay: .3s; --animate-duration: .6s;">
        <div class="container container--sm" data-label="contentBody">
            {{ content }}
        </div>
    </div> 
</div>
{% include footer %}