---
title: Contact
layout: default
permalink: contact/index.html
---

<div class="section section--padding">
    <div class="section--dark section--bg bg--outline"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="mb-5">
                    <h6 class="color--grey">Contact</h6>
                    <h1 class="font-weight--600">Get in touch</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="">Contact details</h6>
                        <ul class="unlistify mb-5">
                            <li><a href="mailto:hello@lennertderyck.be">hello@lennertderyck.be</a></li>
                            <li><a href="tel:+32497753762">+32 4 977 53 762</a></li>
                        </ul>
                        
                        <h6 class="">Follow me</h6>
                        <ul class="unlistify mb-5">
                            <li><a target="_blank" href="https://github.com/lennertderyck">GitHub</a></li>
                            <li><a target="_blank" href="https://open.spotify.com/user/twoledery">Spotify</a></li>
                            <li><a target="_blank" href="https://instagram.com/lennertderyck">Instagram</a></li>
                            <li><a target="_blank" href="https://unsplash.com/@lennertderyck">Unsplash</a></li>
                        </ul>
                        
                        <h6 class="color--grey300">© 2020 Lennert De Ryck</h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 color--white">
                <div class="px-5 h-100 d-flex flex-column justify-content-center">
                    <div class="text-center">
                        <h6 class="color--gold">Interested?</h6>
                        <h1 class="color--grey300 mb-5">Send me a letter</h1>
                        <a href="mailto:hello@lennertderyck.be" class="btn btn--outline btn--lg color--white mx-auto">hello@lennertderyck.be</a>
                    </div>
                    <!-- <form action="">
                        <form action="https://forms.lennertderyck.be/setup/process.php" method="post" id="formContact">
                            <input type="hidden" name="form_tools_form_id" value="5">
                            <div class="form-group mb-4">
                              <label for="contactFormName">naam</label>
                              <input type="text" name="name" class="form-control" id="contactFormName" placeholder="Fons Van Calleberghe">
                            </div>
                            <div class="form-group mb-4">
                              <label for="contactFormEmail">email</label>
                              <input type="email" name="email" class="form-control" id="contactFormEmail" placeholder="willyfons@gmail.com">
                            </div>
                            <div class="form-group mb-4">
                              <label for="contactFormCompany">organisatie / bedrijf</label>
                              <input type="text" name="org" class="form-control" id="contactFormCompany" placeholder="Planeet Jamaica">
                            </div>
                            <div class="form-group mb-4">
                              <label for="contactFormSubject">onderwerp</label>
                              <input type="text" name="subject" class="form-control" id="contactFormSubject" placeholder="Zalmtoastjes en Orvallekes">
                            </div>
                            <div class="form-group form-control-textarea">
                              <label for="contactFormMessage">bericht</label>
                              <small class="d-block mb-3 fontw-700"><i class="fab fa-markdown" aria-hidden="true"></i><span class="ml-1">Markdown ondersteund</span></small>
                              <textarea class="form-control" name="message" id="contactFormMessage" rows="2"></textarea>
                            </div>
                            
                            <button type="submit" class="btn" form="formContact" value="Submit">verzenden</button>
                          </form>
                    </form> -->
                    <!-- <img src="https://media.giphy.com/media/xTk9ZY0C9ZWM2NgmCA/giphy.gif" width="100%" alt=""> -->
                </div>
            </div>
        </div>
    </div>   
</div>

