---
title: home
layout: default
permalink: index.html
---
<div data-label="heroIntro" class="filter--inverted bg--outline section--full section--sticky">
    <div class="h-100 container d-flex flex-column align-items-start justify-content-center animate__animated animate__fadeInUp animate__faster">
        <!-- <img class="mb-4" src="{{ './static/images/LOGO_LDR_ZWART.svg' | url }}" alt="" width="50px"> -->
        <!-- <h1 class="display-2 font-weight-bold mb-5">Some random text<span class="cursor--animated"></span></h1> -->
        <h1 class="display-2 font-weight-bold mb-5">Clean code,<br>awesome design<span class="cursor--animated"></span></h1>
        <h4 class="mb-4">
            <span class="color--grey">
                Do you need more?
            </span>
        </h4>
        <!-- <div class="btn-group">
            <a href="" class="btn">No</a>
            <a href="" class="btn">Yes</a>
        </div> -->
    </div>
</div>

<div class="section section--sticky section--full py-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="font--sub font-weight--600">Nice to meet you!</h2>
                <p>Hi, I'm Lennert, a front-end-development student based in Ghent, Belgium. My goal is to combine great code and nice design to deliver you an awesome result.</p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h6 class="color--gold">Design</h6>
                        <ul class="unlistify">
                            <li>Web design</li>
                            <li>Prototype</li>
                            <li>Branding</li>
                            <li>Booklets</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6 class="color--gold">Develop</h6>
                        <ul class="unlistify">
                            <li>Web development</li>
                            <li>Web applications</li>
                            <li>Windows & Mac apps</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section--border d-flex flex-column justify-content-center py-5" data-label="portfolioCarousel" data-section-mode="normal/inverted">
    <div class="container mb-3">
        <h2 class="font--sub font-weight--600 text-center">Recent work</h2>
    </div>
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
                <div class="project" style="--backgr: #e6aeb4;">
                    <div class="project__wrapper">
                        <div class="project__summ">
                            <div class="wrapper">
                                <h6>webdesign</h6>
                                <h2 class="project__title">Camp gadget</h2>
                                <p class="project__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur placeat porro assumenda! Obcaecati, excepturi aperiam modi unde, a eveniet qui necessitatibus tempora corrupti earum error laboriosam, eligendi ratione optio consequatur.</p>
                                <a href="" class="btn">visit project</a>
                            </div>
                        </div>
                        <div class="project__preview">
                            <img src="https://res.cloudinary.com/lennertderyck/image/upload/v1581282844/COVER_COPACOWOLO-03_npix2i.png" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li class="glide__slide">
                <div class="project" style="--backgr: #52a19b;">
                    <div class="project__wrapper">
                        <div class="project__summ">
                            <div class="wrapper">
                                <h6>case study</h6>
                                <h2 class="project__title">Ghent Art Project</h2>
                                <p class="project__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur placeat porro assumenda! Obcaecati, excepturi aperiam modi unde, a eveniet qui necessitatibus tempora corrupti earum error laboriosam, eligendi ratione optio consequatur.</p>
                                <a href="" class="btn">visit project</a>
                            </div>
                        </div>
                        <div class="project__preview">
                            <img src="https://res.cloudinary.com/lennertderyck/image/upload/v1581282841/DSC2761-compressor_p3kjdy.jpg" alt="">
                        </div>
                    </div>
                </div>
            </li>
          </ul>
        </div>
        <div class="container">
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left text-black-50" data-glide-dir="<"><i data-feather="arrow-left"></i></i></button>
                <button class="glide__arrow glide__arrow--right text-black-50" data-glide-dir=">"><i data-feather="arrow-right"></i></i></button>
            </div>
        </div>
    </div>
</div>

<div class="section py-5">
    <div class="container text-center py-5">
        <h6 class="color--grey">Do you like my work?</h6>
        <h2 class="font--sub font-weight--600">Let's work together!</h2>
        <a href="" class="btn color--gold">Get in touch</a>
    </div>
</div>

<!-- <div class="container">
    <div class="bg--black color--white p-3 mb-5">
        <div class="container mb-5">
            <footer class="">
                This awesome website is made with Eleventy & runs on vercel
            </footer>
        </div>
    </div>
</div> -->