---
layout: page
title: What i do
subTitle: services
permalink: services/index.html
---
<div class="container--str-full">
    <div class="container">
        <div class="services">
            <div class="flex-grid">
                <div class="flex-grid__wrapper">
                    <div class="flex-grid__item bg--grey200 p-4">
                        <img class="mb-3" width="35px" src="{{ '/static/images/services/webdev.svg' }}" alt="">
                        <h6 class="color--grey400 mb-3">Webdevelopment</h6>
                        <h5 class="my-0">Designing and creating awesome websites</h5>
                        <!-- <h5 class="my-0">Designing and creating awesome websites that the customer can edit themselves</h5> -->
                    </div>
                    <div class="flex-grid__item bg--grey200 p-4">
                        <img class="mb-3" width="35px" src="{{ '/static/images/services/prototype_design.svg' }}" alt="">
                        <h6 class="color--grey400 mb-3">Prototyping & design</h6>
                        <h5 class="my-0">
                            Just the design & think process that your project needs
                        </h5>
                    </div>
                    <div class="flex-grid__item bg--grey200 p-4">
                        <img class="mb-3" width="35px" src="{{ '/static/images/services/apps_alt.svg' }}" alt="">
                        <h6 class="color--grey400 mb-3">Native apps</h6>
                        <h5 class="my-0">
                            I create user-friendly, cross-platform apps with tools I know
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>