[data-page-name="home"] {
    #page {
        background-image: url('https://res.cloudinary.com/lennertderyck/image/upload/v1585003625/logo_ldr_hero_co1jus.svg');
        background-repeat: no-repeat;
        // background-position: calc(100% + 400px) 70px;
        background-position: calc(100% + 390px) 70px;
    }
}

[data-label="homeHero"] {
    // min-height: 50vh;
    min-height: 58vh;
    
    h2 {
        font-size: 34px;
        color: $accentMain;
    }
    
    a {
        color: $accentMain;
    }
}

[data-label="portfolioCards"].first-test {
    overflow-x: scroll;
    overflow-y: visible;
    scrollbar-width: none;
    padding: 60px 0;
    display: flex;
    align-items: center;
    // z-index: 1001;

    &::-webkit-scrollbar {
        display: none;
    }

    .card {
        position: relative;
        min-width: calc(100vw - 35px*2);
        height: 325px;
        margin-left: calc(35px/2);
        margin-right: calc(35px/2);
        border: none;
        box-shadow: 0 6px 25px 3px rgba(0, 0, 0, 0.164);
        border-radius: 13px;
        transition: all .2s ease;
        transform-origin: center;

        &:first-child {
            margin-left: 35px;
        }

        img.card-background {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border-radius: inherit;
            background: transparent linear-gradient(208deg, #00000000 50%, #000000e0 100%) 64% 760% no-repeat padding-box;
        
            * {color: white;}
        }
    }
}

[data-label="portfolioCards"] {

    .flex-grid-wrapper {
        --grid-row-items-p: 30px;
    }
    
    .card {
        position: relative;
        width: calc(100% / var(--grid-row-items-n) - var(--grid-row-items-p));
        border: none;
        // box-shadow: 0 6px 25px 3px rgba(0, 0, 0, 0.164);
        border-radius: 13px;
        transition: all .2s ease;
        transform-origin: center;

        img.card-background {
            width: 100%;
            // height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border-radius: inherit;
            background: transparent linear-gradient(208deg, #00000000 50%, #000000e0 100%) 64% 760% no-repeat padding-box;
        
            * {color: white;}
        }
    }
    
    &.sesam-hidden {
        max-height: 400px;
        overflow-y: hidden;
    }
}

[data-sesam-trigger="portfolioCards"] {
    display: flex;
    position: relative;
    height: 200px;
    margin-top: -140px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7609418767507002) 33%, rgba(255,255,255,1) 65%);
    cursor: pointer;
    
    &.sesam-show {
        // display: none;
        margin-top: 0px;
        overflow: hidden;
        height: fit-content;
    }
}

@media (max-width: 576px) {
    [data-label="portfolioCards"] {
        scroll-snap-type: x mandatory;
        scroll-padding: 35px;
    
        .card {
            scroll-snap-align: start;
        }
    }
    
}

@media (min-width: 576px) {
    [data-label="homeHero"] {     
        h2 {
            font-size: 36px;
        }
    }
}

@media (min-width: 768px) {
    [data-page-name="home"] {
        #page {
        background-position: calc(100% + 250px) 70px;
        }
    }
    
    [data-label="portfolioCards"] > .card {
        // min-width: calc(100vw/2 - 35px*2);

        &:hover {
            transform: scale(1.02);
        }
    }    
}

@media (min-width: 992px) {
    [data-page-name="home"] {
        #page {
        background-position: calc(100% + 150px) 70px;
        }
    }
    
    [data-label="homeHero"] {     
        h2 {
            font-size: 2.5rem;
        }
    }
    
    [data-label="portfolioCards"] > .card {
        // min-width: 245px;
    }
}

@media (min-width: 1200px) {}
