[data-theme="detail"] {
    [data-label="galery"] {
        .flex-grid__item {
            border: 2px solid #f7f7f7; 
        }
    }
    
    [data-sesam-target="galeryPreview"] {
        position: fixed;
        top: 0; bottom: 0;
        left: 0; right: 0;
        display: none;
        z-index: 10;
        
        &.sesam-show {
            display: block;
        }
        
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            padding-bottom: var(--navbar-height);
            height: 100%;
        }
        
        .preview__view { 
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                max-width: 80vw;
                max-height: 80vh;
            }
        }
        
        .preview__controls {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            
            .preview__control {
                margin: 0 .7rem;
                
                .feather {
                    --d: 15px;
                    
                    width: var(--d);
                    height: var(--d);
                }
                
                &--next, &--prev {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px;
                    height: 30px;
                    width: 30px;
                }
            }
        }
        
        // .preview__control--prev { grid-area: 1 / 1 / 2 / 2; }
        // .preview__control--next { grid-area: 1 / 6 / 2 / 7; }
    }
}

