.width-fit {width: fit-content;}

.text-modern, h6 {@include text-modern;}
h6 {color: #846a2f !important;}

.font--sub {font-family: $fontSub;}

.font-weight--600 {font-weight: 600;}

.bg--black {background-color: black;}
.bg--outline {
    background-image: url(../images/LOGO_OUTLINE_TOP.svg);
    background-repeat: no-repeat;
    background-position: center 27%;
    background-size: 100%;
}

.color--white {color: white;}
.color--gold {color: $colorGold !important;}
.color--grey {color: grey !important;}

.unlistify {list-style: none;}

.opaque--50 {opacity: .5;}