$fontMain: sofia-pro, sans-serif;
$fontSub: stratos, sans-serif;

$colorGold: #af9351;
$colorDark: #191B1F;
$colorDark300: #3e434d;
$colorDark400: #2b2f36;
$colorGrey400: #acacac;
$colorGrey300: #cecece;
$colorGrey200: #f8f8f8;
$colorGrey100: #F1F1F2;