#pageIndex {
    position: sticky;
    top: 40px; 
    
    ul {
        padding-left: 12px;
        border-left: 1.7px dashed $accent3;
        list-style: none;
        
        li {
            margin-bottom: 16px;
        }
        
        li.page-index-lvl1 {
            
            color: $accent3;
            position: relative;
            
            &::after {
                content: ' ';
                position: absolute;
                left: -18px;
                top: 2.5px;
                width: 10px;
                height: 10px;
                background-color: white;
                border: 1.7px solid $accent3;
                border-radius: 100%;
            }
        }
        
        [data-sesam-target] {
            li.page-index-lvl2::after {
                display: none;
            }
        }
    }
    
    [data-sesam-target] {
        li {
            padding-left: 10px;
            color: #bbbbbb;
            margin-bottom: 8px;
            
            &:last-child {
                margin-bottom: 16px;  
            }
        }
        
        &.sesam-hidden {
            display: none;
        }
    }
}

[data-label="pageWidgets"] {
    margin-top: 110px;
    margin-bottom: 110px;
}

[data-label="footerWidgets"] {
    --py: 70px;
    padding-top: var(--py);
    padding-bottom: var(--py);
    // background-color: $accent1;
}

#contentBody {
    position: relative;
    height: 100%;
    
    blockquote {
        padding: 20px;
        background-color: $accentMainXLight;
        border-radius: 6px;
        font-weight: 600;
        border-left: 6px solid $accentLight;
        
        :last-child {
            margin-bottom: 0px;
        }
        
        & + h3 {
            margin-top: 38px;
        }
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    #pageIndex {
        position: sticky;
        top: 40px; 
        
        ul {
            padding-left: 12px;
            border-left: 1.7px dashed $accent3;
            list-style: none;
            
            li {
                
                color: $accent3;
                position: relative;
                
                &::after {
                    content: ' ';
                    position: absolute;
                    left: -18px;
                    top: 2.5px;
                    width: 10px;
                    height: 10px;
                    background-color: white;
                    border: 1.7px solid $accent3;
                    border-radius: 100%;
                }
            }
        }
        
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}