---
layout: default
permalink: "/index"
title: Home
titlebar: false
add-to-menu: false
ft-image: 
widgets: false
full-width: false
short-desc: Jong grafisch ontwerper met grote dromen en een passie voor vormgeving
widgets-bottom: false

---
<section class="section-ignore container d-flex align-items-center" data-label="homeHero">
    <div class="my-5">
        <h2 class="fontw-500">Jong grafisch geweld,<br>Grote dromen, en passie<br>voor design & code</h2>
    </div>
</section>
<section>
    <div data-label="portfolioCards" class="first-test">
        {% for project in site.projects %}
            <div class="card">
                <img class="card-background" src="{{ project.ft-img }}" alt="">
                <div class="card-body">
                    <h4 class="mb-1">{{ project.title }}</h4>
                    <p class="mb-0 text-modern md">{{ project.tags | first }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="d-flex align-items-center ml-auto w-fit">
            <p class="text-modern mb-0 small mr-3">
                scroll door<br>mijn projecten
            </p>
            <i data-feather="arrow-right"></i>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
            {% include widget-text.html title="Wat ik doe" subTitle="Diensten" content="Tegenwoordig hou ik me vooral bezig met webdesign, maar ook drukwerk blijft een passie!" btnTitle="Ontdek wat ik doe" btnUrl="#" %}
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
            {% include widget-text.html title="Over mij" subTitle="Bio" content="Een jong grafisch designer die zich een weg baant door de grafische wereld." btnTitle="Kom meer te weten" btnUrl="#" %}
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
            {% include widget-text.html title="Praktisch" subTitle="Meer info" content="Je zou graag met mij in zee gaan? Fantastisch! Dan vind je hier alle info die je nodig hebt." btnTitle="Meer lezen" btnUrl="#" %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-color-6">
                <h2 class="mb-1">Geïnteresseerd?</h2>
                <p class="widget-text-subtitle text-modern md mb-2">Laat iets achter na de piep</p>
            </div>
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <label for="homeFormEmail">email</label>
                    <input type="email" class="form-control" id="homeFormEmail">
                </div>
                <div class="form-group form-control-textarea">
                    <label for="homeFormEmail">bericht</label>
                    <textarea class="form-control" rows="2"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>
