<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type='image/x-icon' href="https://lennertderyck.be/assets/images/LOGO_LDR_ZWART.ico"/>
    <!-- <meta name="theme-color" content="#662B32">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#662B32">
     -->

    <!-- seo -->
    <meta name="description" content="{{ site.title }}">
    <meta name="keywords" content="lennert de ryck, grafisch, ontwerper, vormgeving, vormgever, design, webdevelopment, websites, sites, wedesign, web, SEO, css, html, js, javascript, bijles, workshop">
    
    <!--open graph-->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.domain }}"/>
    <meta property="og:title" content="{{ site.title }}"/>
    <!-- <meta property="og:image" content=""/> -->
    
    <!-- integrations -->
    <!-- <script src="https://ce.lennertderyck.be/library/elements.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/feather-icons"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600|Overpass+Mono:400,600,700|Overpass:300,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://kit.fontawesome.com/f468493df9.js" crossorigin="anonymous"></script>
    <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
    <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    
    <!-- local assets -->
    <script src="{{ "/static/js/glide.min.js" | url }}"></script>
    <script src="{{ "/static/js/vibrant.min.js" | url }}"></script>
    <link rel="stylesheet" href="{{ "/static/css/main.css" | url }}">
</head>
<body data-sesam-target="burgerMenu" class="sesam sesam-hidden" data-layout="{{ page.layout }}" data-page-name="{{ page.title | downcase }}">
    <div id="toastContainer" aria-live="polite" aria-atomic="true"></div>
    <div id="page" class="animated fadeIn slow">
        {% include header.html %}
        <main>
            <div id="pageContent" class="" data-spy="scroll" data-target="#pageIndex">
                {{ content }}
                {% include project-lightbox.html %}
            </div>
        </main>
        {% include footer.html %}
    </div>
    {% include menu-overflow.html %}
    
    <div class="modal" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog-centered modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 id="staticBackdropLabel" class="mb-1">Cookies</h4>
                    <p class="text-modern md mb-0">jumm</p>
                </div>
            </div>
            <div class="modal-body">
                <p>Nee, het gaat spijtig genoeg om de eetbare versie, maar om kleine digitale bestandjes die we gebruiken om deze site goed weer te geven en van enkele handige functies te voorzien.</p>
                <p>Er worden enkel noodzakelijke cookies geplaatst dus hoef je geen toestemming te geven. Toch kan je cookies blokkeren indien je dit wenst.</p>
            </div>
            <div class="modal-footer d-flex justify-content-between">
              <button type="button" class="btn btn-simple" data-dismiss="modal">Cookies uitschakelen</button>
              <button type="button" class="btn" data-dismiss="modal">Okidoki !</button>
            </div>
          </div>
        </div>
    </div>

    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
    <!-- scripts -->
    <script src="{{ "/static/js/salvattore.min.js" | url }}"></script>
    <script src="{{ "/static/js/cookies.js" | url }}"></script>
    <script src="{{ "/static/js/sesam.js" | url }}"></script>
    <script src="{{ "/static/js/main.js" | url }}"></script>
    <script>      
        /**
         * Initialize feather icons
         * more info on https://feathericons.com/ and https://github.com/feathericons/feather#feather
        */
        feather.replace();

        /* Enable for bootstrap tooltips 👇 */
        $('[data-toggle="tooltip"]').tooltip();

        /* Enable for bootstrap toasts 👇 */
        $('[data-toggle="toast"]').toast();
        
    </script>
</body>
</html>