---
layout   : default
---
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-4">
            <h1 class="page-title fontw-300">
                {{ page.title }}
            </h1>
            <p class="page-subtitle text-modern md mb-5 mb-lg-0">
                {{ page.subTitle }}
            </p>
        </div>
        {% unless page.fullWidth == true %}
            <div class="col-12 col-lg-8" id="contentBody">
                {{content }}
            </div>
        {% endunless %}
    </div>
    
    {% if page.fullWidth == true %}
        <div class="row mt-5">
            <div class="col-12" id="contentBody">
                {{ content }}
            </div>
        </div>
    {% endif %}
    <div data-label="pageWidgets">
        <div class="row">
          <div class="col-12 col-md-4 mb-lg-0 mb-5">
              {% include widget-text.html title="Mail me" subTitle="direct contact" content="Sla een stap over en mail me rechtstreeks" btnTitle="Mailen" btnUrl="mailto:hello@lennertderyck.be?subject=Hallo!" %}
          </div>
          <div class="col-12 col-md-4 mb-lg-0 mb-5">
              {% include widget-text.html title="Linked In" subTitle="Proffesioneel" content="Chatten via Linked In" btnTitle="Linked in" btnUrl="#" %}
          </div>
          <div class="col-12 col-md-4 mb-lg-0 mb-5">
              {% include widget-text.html title="Messenger" subTitle="Let's have a chat" content="Ook via Facebook kan je een berichtje achterlaten" btnTitle="Messenger" btnUrl="#" %}
          </div>
        </div>
    </div>
</div>