---
layout   : default
---
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-4 mb-5 mb-lg-0">
            <h1 class="page-title fontw-400">
                {% if page.showCustomTitle == false or page.showCustomTitle.blank or page.type == 'project' %}
                    {{ page.title }}
                {% else %}
                    {{ page.customTitle }}
                {% endif %}
            </h1>
            <p class="page-subtitle text-modern mb-5">
                {% if page.type == 'project' %}
                    {{ page.tags | first }}
                {% else %}
                    {{ page.subTitle }}
                {% endif %}
            </p>
            <nav id="pageIndex" class="d-none d-lg-block">
                <ul></ul>
            </nav>
        </div>
        {% unless page.fullWidth == true %} 
            <div class="col-12 col-lg-8" id="contentBody">
                {{ content }}
            </div>
        {% endunless %}
    </div>
    
    {% if page.fullWidth == true %}
        <div class="row mt-5">
            <div class="col-12" id="contentBody">
                {{ content }}
            </div>
        </div>
    {% endif %}
    <div data-label="pageWidgets">
        <div class="row">
            {% assign pageWidgetsAmount = page.pageWidgets.size | plus: 0 %}
            {% if pageWidgetsAmount == 1 %}
                {% for widget in page.pageWidgets %}
                    <div class="col-12 col-md-{{ 12 | divided_by: 1}} mb-lg-0 mb-5">
                        {% include widget-text.html title="Mail me" subTitle="direct contact" content="Sla een stap over en mail me rechtstreeks" btnTitle="Mailen" btnUrl="mailto:hello@lennertderyck.be?subject=Hallo!" %}
                    </div>
                {% endfor %}
            {% elsif pageWidgetsAmount == 2 %}
                {% for widget in page.pageWidgets %}
                    <div class="col-12 col-md-{{ 12 | divided_by: 2}} mb-lg-0 mb-5">
                        {% include widget-text.html title="Mail me" subTitle="direct contact" content="Sla een stap over en mail me rechtstreeks" btnTitle="Mailen" btnUrl="mailto:hello@lennertderyck.be?subject=Hallo!" %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>